In [4]:
# imports
import pm4py
import json
from typing import Any
from copy import copy
import pandas as pd

In [3]:
# config vars
ocel_intermediary_file = "../data/BPI17/intermediates/BPI2017.jsonocel"
ocel_file =  "../data/BPI17/BPI2017-Final.jsonocel"

In [3]:
ocel = pm4py.read.read_ocel(ocel_file)

In [4]:
# check events
ocel.events.head()

,ocel:eid,ocel:timestamp,ocel:activity,event_OrgResource,event_Action,event_EventOrigin,start_timestamp
0,1,2016-01-01 10:51:15.304,Create application,User_1,Created,Application,2016-01-01 10:51:15.304000
1,2,2016-01-01 10:51:15.352,Submit,User_1,statechange,Application,2016-01-01 10:51:15.352000
13,14,2016-01-01 11:16:11.500,Create application,User_1,Created,Application,2016-01-01 11:16:11.500000
14,15,2016-01-01 11:16:11.549,Submit,User_1,statechange,Application,2016-01-01 11:16:11.549000
23,24,2016-01-01 12:19:38.177,Create application,User_1,Created,Application,2016-01-01 12:19:38.177000

In [5]:
# check objects
ocel.objects.head()

,ocel:oid,ocel:type,event_RequestedAmount,event_LoanGoal,event_ApplicationType,event_OfferedAmount,event_NumberOfTerms,event_CreditScore,event_Accepted,event_FirstWithdrawalAmount,event_MonthlyCost,event_Selected
0,Application_652823628,application,20000.0,Existing loan takeover,New credit,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Offer_148581083,offer,NaN,NaN,NaN,20000.0,44.0,979.0,True,20000.0,498.29,True
2,Application_1691306052,application,10000.0,Home improvement,New credit,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Offer_1669071500,offer,NaN,NaN,NaN,6000.0,33.0,0.0,False,500.0,200.00,False
4,Application_428409768,application,15000.0,Home improvement,New credit,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# check offer object type
ocel.objects[ocel.objects['ocel:type']=='offer'].isna().sum()

ocel:oid                           0
ocel:type                          0
event_RequestedAmount          42995
event_LoanGoal                 42995
event_ApplicationType          42995
event_OfferedAmount              411
event_NumberOfTerms              411
event_CreditScore                411
event_Accepted                   411
event_FirstWithdrawalAmount      411
event_MonthlyCost                411
event_Selected                   411
dtype: int64

In [14]:
# check application object type
ocel.objects[ocel.objects['ocel:type']=='application'].isna().sum()

ocel:oid                           0
ocel:type                          0
event_RequestedAmount              0
event_LoanGoal                     0
event_ApplicationType              0
event_OfferedAmount            31509
event_NumberOfTerms            31509
event_CreditScore              31509
event_Accepted                 31509
event_FirstWithdrawalAmount    31509
event_MonthlyCost              31509
event_Selected                 31509
dtype: int64