In [18]:
# imports
import pm4py
import pm4py.utils
import pm4py.read
from pm4py.objects.ocel.obj import OCEL
import json
from typing import Any
from copy import copy
import pandas as pd

In [2]:
ocel_in_file = "../../data/BPI17/source/BPI2017-CountEncoded.jsonocel"
ocel = pm4py.read.read_ocel(ocel_in_file)

In [3]:
# check events
ocel.events.head()
# check objects
ocel.objects.head()
# check offer object type
ocel.objects[ocel.objects['ocel:type']=='offer'].isna().sum()
# check application object type
ocel.objects[ocel.objects['ocel:type']=='application'].isna().sum()
print()

In [7]:
objects_summary = pm4py.ocel_objects_summary(ocel)
ocel.objects.shape

(74504, 12)

In [13]:
pd.set_option('max_colwidth', None)
objects_summary.head()
# pd.reset_option('max_colwidth')

,ocel:oid,activities_lifecycle,lifecycle_start,lifecycle_end,lifecycle_duration,interacting_objects
0,Application_1000086665,"[Create application, Submit, Complete, Accept, Create offer, Call, Cancel application, Cancel offer]",2016-08-03 17:57:21.673,2016-09-05 08:00:36.829,2815395.0,{Offer_410892064}
1,Application_1000158214,"[Create application, Submit, Accept, Create offer, Complete, Call, Validate, Accept offer, Pending]",2016-06-02 12:14:26.844,2016-06-10 13:02:01.278,694054.0,{Offer_927137349}
2,Application_1000311556,"[Create application, Accept, Create offer, Complete, Call, Cancel application, Cancel offer]",2016-04-04 17:56:37.675,2016-05-05 08:00:48.950,2642651.0,{Offer_2032690166}
3,Application_1000334415,"[Create application, Submit, Accept, Create offer, Complete, Call, Validate, Call incomplete files, Validate, Deny, Refuse offer]",2016-09-15 18:39:17.758,2016-09-29 09:45:34.380,1177576.0,{Offer_2062524462}
4,Application_1000339879,"[Create application, Submit, Accept, Create offer, Complete, Call, Validate, Validate, Call incomplete files, Validate, Call incomplete files, Validate, Accept offer, Pending]",2016-03-17 13:57:10.159,2016-03-30 11:11:48.596,1113278.0,{Offer_542912001}

In [14]:
ocel.events.shape

(393931, 6)

In [77]:
sampled_ocel = pm4py.utils.sample_events(log=ocel, num_events=int(393931*.5))
print(f'Lost objects from sampling: {(ocel.objects.shape[0]-sampled_ocel.objects.shape[0])/ocel.objects.shape[0]*100:.2f}%')

Lost objects from sampling: 2.76%

In [40]:
objects_summary

14

In [28]:
sampled_objects_summary = pm4py.ocel_objects_summary(sampled_ocel)
sampled_objects_summary

,ocel:oid,activities_lifecycle,lifecycle_start,lifecycle_end,lifecycle_duration,interacting_objects
0,Application_1000086665,"[Complete, Accept, Create offer, Call, Cancel offer]",2016-08-04 15:39:29.557,2016-09-05 08:00:36.829,2737267.0,{Offer_410892064}
1,Application_1000158214,"[Create application, Submit, Accept, Complete, Call, Validate, Pending]",2016-06-02 12:14:26.844,2016-06-10 13:02:01.278,694054.0,{Offer_927137349}
2,Application_1000311556,"[Accept, Create offer, Complete, Call, Cancel application, Cancel offer]",2016-04-04 18:06:29.479,2016-05-05 08:00:48.950,2642059.0,{Offer_2032690166}
3,Application_1000334415,"[Submit, Call, Validate, Validate, Deny, Refuse offer]",2016-09-15 18:39:17.793,2016-09-29 09:45:34.380,1177576.0,{Offer_2062524462}
4,Application_1000339879,"[Create application, Create offer, Complete, Call, Call incomplete files, Call incomplete files, Validate, Accept offer, Pending]",2016-03-17 13:57:10.159,2016-03-30 11:11:48.596,1113278.0,{Offer_542912001}
...,...,...,...,...,...,...
74197,Offer_999693701,"[Create offer, Send (mail and online), Return]",2016-06-16 13:04:22.934,2016-06-24 10:24:23.307,681600.0,{Application_1815714214}
74198,Offer_999824572,"[Create offer, Return, Accept offer]",2016-05-17 18:27:19.789,2016-05-27 10:17:57.319,834637.0,{Application_1238063902}
74199,Offer_999829743,"[Create offer, Call, Cancel application]",2016-03-21 17:14:33.373,2016-04-21 08:00:28.316,2645154.0,{Application_1593767107}
74200,Offer_999976934,"[Send (mail and online), Call, Return, Accept offer]",2016-06-10 17:18:10.033,2016-06-16 13:15:06.806,503816.0,{Application_1137266348}
74201,Offer_999982990,"[Create offer, Send (mail and online), Return, Accept offer]",2016-11-19 13:34:04.985,2016-12-20 15:26:31.354,2685146.0,{Application_808506107}