In [1]:
import os

os.chdir("/".join(os.getcwd().split("\\")[:-2]))
import pandas as pd
import json
from copy import copy
import string
import random
from typing import Any, Callable
import numpy as np

# Object centric process mining
import ocpa.objects.log.importer.ocel.factory as ocel_import_factory
from ocpa.algo.predictive_monitoring.obj import Feature_Storage
from ocpa.objects.log.ocel import OCEL
import ocpa.algo.predictive_monitoring.factory as feature_factory
from ocpa.algo.predictive_monitoring import tabular
import ocpa.objects.log.importer.csv.factory as csv_import_factory

from sklearn.preprocessing import PowerTransformer, StandardScaler
from sklearn.model_selection import train_test_split
import category_encoders as ce

In [2]:
def generate_random_data(num_numerical_cols, num_categorical_cols, num_rows):
    data = {}

    # Generate random numerical columns
    for i in range(num_numerical_cols):
        col_name = f"num_{i}"
        data[col_name] = [random.normalvariate(0, 1) for _ in range(num_rows)]

    # Generate random categorical columns
    for i in range(num_categorical_cols):
        col_name = f"cat_{i}"
        data[col_name] = [
            random.choice(string.ascii_uppercase) for _ in range(num_rows)
        ]

    df = pd.DataFrame(data)
    return df

In [3]:
# Configure the number of numerical and categorical columns and the number of rows
num_numerical_cols = 1
num_categorical_cols = 3
num_rows = 40

# Generate the dataframe
df = generate_random_data(num_numerical_cols, num_categorical_cols, num_rows)

In [4]:
train_df, test_df = train_test_split(df, test_size=0.3, random_state=42)

In [5]:
encoder = ce.CountEncoder()
encoder.fit(train_df[["cat_0", "cat_1", "cat_2"]])

CountEncoder(cols=['cat_0', 'cat_1', 'cat_2'], combine_min_nan_groups=True)

In [9]:
train_df.loc[:, ["cat_0", "cat_1", "cat_2"]] = encoder.transform(
    train_df[["cat_0", "cat_1", "cat_2"]]
)
train_df.head()

       num_0  cat_0  cat_1  cat_2
13  0.474785    0.0    0.0    0.0
31 -1.203395    0.0    0.0    0.0
34 -1.254399    0.0    0.0    0.0
8  -1.829487    0.0    0.0    0.0
17 -0.343990    0.0    0.0    0.0

In [18]:
encoder.transform(test_df).head()

       num_0  cat_0  cat_1  cat_2
19 -1.995734    3.0    2.0    1.0
16 -0.978048    0.0    1.0    0.0
15 -0.125078    1.0    2.0    1.0
26  0.640797    2.0    2.0    1.0
4   0.629760    3.0    1.0    0.0